body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #dddddd;
    background-color: #303030;
    padding: 40px;
}
a:not(:has(img)), a img, button, input, .style_button  {
    display: inline-block;
    padding: 16px 16px;
    border-radius: 20px;
    border: 2px solid #2c2c2c;
    color: #dddddd;
    background-color: #303030;
    font-size: 18px;
    text-decoration: none;
    box-shadow:  -3px -3px 6px #101010, 3px 3px 6px #505050;
    transition:  all 0.2s ease-out;
}
a img {
    padding: 0px;
}
a:not(:has(img)):hover, a img:hover, button:hover, input:hover, .style_button:hover  {
    box-shadow: -3px -3px 6px #000000, 3px 3px 6px #606060;
    color: #ffffff;
    border: 2px solid #272727;
    transform: scale(1.02);
}
a:not(:has(img)):active, a img:active, button:active, input:active, .style_button:active  {
    box-shadow: -3px -3px 6px #1e1e1e, 3px 3px 6px #424242;
    transform: scale(0.9);
    border: 2px solid #303030;
}

img {
    display: inline-block;
    padding: 0px;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: #dddddd;
    transition:  all 0.3s ease-in-out;
}

.container:hover {
    color: #ffffff;
}

.container .label {
    padding-left: 16px;
    position: absolute;
    top: 17px;
    pointer-events: none;
    transition:  all 0.3s ease-in-out;
}

.input {
    font-size: 18px;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #2c2c2c;
    outline: none;
    padding: 4px 0px 12px 16px;
    border-radius: 20px;
    color: #dddddd;
    background-color: transparent;
    box-shadow:  -3px -3px 6px #101010, 3px 3px 6px #505050;
    transition:  all 0.2s ease-in-out;
}

.input:hover {
    box-shadow: -3px -3px 6px #000000, 3px 3px 6px #606060;
    color: #ffffff;
    border: 2px solid #272727;
}

.input:focus {
    border: 2px solid #2c2c2c;
    color: #ffffff;
    box-shadow: -3px -3px 6px #000000,
    3px 3px 6px #606060,
    inset -3px -3px 10px rgba(0, 0, 0, 0.38),
    inset 1px 1px 6px rgba(255, 255, 255, 0.15);
    transform: scale(1);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
    transition: all 0.3s ease-in-out;
    padding-left: 2px;
    transform: translateY(-45px);
    color: #dddddd;
}

.container .input:focus {
    box-shadow: -3px -3px 6px #000000,
    3px 3px 6px #606060,
    inset -3px -3px 10px rgba(0, 0, 0, 0.38),
    inset 1px 1px 6px rgba(255, 255, 255, 0.15);
}