body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #dddddd;
    background-color: #303030;
    padding: 80px;
}
a:not(:has(img)), a img, button, input, .style_button  {
    display: inline-block;
    padding: 16px 16px;
    border-radius: 20px;
    line-height: 1;
    border: 2px solid #2c2c2c;
    color: #dddddd;
    background-color: transparent;
    filter: blur(0px);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    box-shadow:  -3px -3px 6px #101010, 3px 3px 6px #505050;
    transition:  all 0.2s ease-out;
}
a img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    box-shadow:  -6px -6px 12px #101010, 6px 6px 12px #505050;
    padding: 0;
}
a:not(:has(img)):hover, a img:hover, button:hover, input:hover, .style_button:hover  {
    box-shadow: -3px -3px 6px #000000, 3px 3px 6px #606060;
    color: #ffffff;
    border: 2px solid #272727;
    transform: scale(1.04);
}
a img:hover{
    box-shadow:  -6px -6px 12px #000000, 6px 6px 12px #606060;
}
a:not(:has(img)):active, a img:active, button:active, input:active, .style_button:active  {
    box-shadow: -3px -3px 6px #1e1e1e, 3px 3px 6px #424242;
    transform: scale(0.9);
    border: 2px solid #303030;
}
a img:active{
    box-shadow:  -6px -6px 12px #1e1e1e, 6px 6px 12px #424242;
}

img {
    display: inline-block;
    padding: 0px;
    border-radius: 20px;
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: #dddddd;
    transition:  all 0.3s ease-in-out;
}

.container:hover {
    color: #ffffff;
}

.container .label {
    padding-left: 16px;
    position: absolute;
    top: 17px;
    pointer-events: none;
    transition:  all 0.3s ease-in-out;
}

.input {
    font-size: 18px;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #2c2c2c;
    outline: none;
    padding: 4px 16px 12px 16px;
    border-radius: 20px;
    color: #dddddd;
    background-color: transparent;
    box-shadow:  -3px -3px 6px #101010, 3px 3px 6px #505050;
    transition:  all 0.2s ease-in-out;
}

.input:hover {
    box-shadow: -3px -3px 6px #000000, 3px 3px 6px #606060;
    color: #ffffff;
    border: 2px solid #272727;
}

.input:focus {
    border: 2px solid #2c2c2c;
    color: #ffffff;
    box-shadow: -3px -3px 6px #000000,
    3px 3px 6px #606060,
    inset -3px -3px 10px rgba(0, 0, 0, 0.38),
    inset 1px 1px 6px rgba(255, 255, 255, 0.15);
    transform: scale(1);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
    transition: all 0.3s ease-in-out;
    padding-left: 2px;
    transform: translateY(-45px);
    color: #dddddd;
}

.container .input:focus {
    box-shadow: -3px -3px 6px #000000,
    3px 3px 6px #606060,
    inset -3px -3px 10px rgba(0, 0, 0, 0.38),
    inset 1px 1px 6px rgba(255, 255, 255, 0.15);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    padding: 1%;
    margin: 0;
    display: flex;
    gap: 2%;
    justify-content: stretch;
}

nav a, nav form {
    display: block;
    text-align: center;
    flex: 1;
}
nav form button {
    width: 100%;
}

.settings nav, .settings {
    margin: 80px 0 0 0;
}